@model DataSetUpload

@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    @if(TempData.ContainsKey("result"))
    {
        TempData.Remove("result");
        <div class="alert alert-success">
            <span class="alert-heading">Dataset was successfully sent for processing</span>
        </div>
    }

    @Html.AntiForgeryToken()
    <form enctype="multipart/form-data" method="post">
        <div class="row">
            
            <label asp-for="FormFile" class="form-label">Select dataset for processing:</label>
            <div class="col-md-4">
                <input asp-for="FormFile" type="file" class="form-control" required />
            </div>

        </div>
        
        <input asp-action="Upload" class="btn btn-primary mt-2" type="submit" value="Upload" />
    </form>
</div>

@section Scripts {
    

}