@model DataSetUploadModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
        TempData.Remove("SuccessMessage"); // Remove the success message from TempData
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
        TempData.Remove("ErrorMessage"); // Remove the error message from TempData
    }

    @Html.AntiForgeryToken()
    <form enctype="multipart/form-data" method="post">
        <div class="row">
            
            <label asp-for="FormFile" class="form-label">Select dataset for processing:</label>
            <div class="col-md-4">
                <input asp-for="FormFile" type="file" class="form-control" required />
            </div>

        </div>
        
        <input asp-action="Upload" class="btn btn-primary mt-2" type="submit" value="Upload" />
    </form>
</div>

@section Scripts {
    

}