html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.codeExample {
    padding: 15px;
    background: lightgrey;
}

.column-separator {
  border-right: 1px solid lightgray;
}

.highlight {
  background-color: lightyellow; 
  padding: 15px; 
}